{require_otp_vsn, "R16|17|18"}.

{erl_opts, [{parse_transform, lager_transform}, debug_info]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{escript_emu_args, "%%! -escript main cuttlefish_escript -smp disable +A 0\n"}.
{escript_incl_apps, [cuttlefish, goldrush, getopt, lager, yamerl]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(rebar.*|mustache)\" : Mod)", []}]}.

{deps, [
    {lager, "(2.0|2.1|2.2).*", {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
    {cuttlefish, ".*", {git, "https://github.com/hairyhum/cuttlefish.git", {branch, "develop"}}},
    {yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git", {tag, "v0.3.2-1"}}}
  ]}.

{post_hooks, [
    {"-win32", compile, "rebar escriptize"},
    {"^((?!-win32).)*$", compile, "./rebar escriptize"}
  ]}.
